# ðŸ¤— HuggingFace Datasets

HuggingFace provides the ability to interact with datasets dynamically. There is no need to pre-download large models and include them in a repository like this one.

In [1]:
from datasets import load_dataset, list_datasets

In [2]:
# Explore available datasets
available = list_datasets()
print(len(available))
print([i for i in available if '/' not in i])

175825
[]

In [3]:
# load the dataset dynamically by passing the name. 
movie_rationales = load_dataset("movie_rationales")

Using custom data configuration default
Reusing dataset movie_rationales (/home/vscode/.cache/huggingface/datasets/movie_rationales/default/0.1.0/70ed6b72496c90835e8ee73ebf8d0e49f5ad3aa93f302c8a4b6c886143cfb779)

  0%|          | 0/3 [00:00<?, ?it/s]

In [4]:
type(movie_rationales)

datasets.dataset_dict.DatasetDict

In [5]:
# The object is a dict-like mapping of actual datasets
movie_rationales

DatasetDict({
    train: Dataset({
        features: ['review', 'label', 'evidences'],
        num_rows: 1600
    })
    validation: Dataset({
        features: ['review', 'label', 'evidences'],
        num_rows: 200
    })
    test: Dataset({
        features: ['review', 'label', 'evidences'],
        num_rows: 199
    })
})

In [6]:
# Select the "train" dataset and then port it to pandas
train = movie_rationales["train"]
df = train.to_pandas()

In [7]:
df.head()

,review,label,evidences
0,"plot : two teen couples go to a church party ,...",0,"[mind - fuck movie, the sad part is, downshift..."
1,the happy bastard 's quick movie review damn\n...,0,"[it 's pretty much a sunken ship, sutherland i..."
2,it is movies like these that make a jaded movi...,0,[the characters and acting is nothing spectacu...
3,""" quest for camelot "" is warner bros . '\nfirs...",0,"[dead on arrival, the characters stink, subpar..."
4,synopsis : a mentally unstable man undergoing ...,0,"[it is highly derivative and somewhat boring, ..."

In [8]:
df.describe()

             label
count  1600.000000
mean      0.500000
std       0.500156
min       0.000000
25%       0.000000
50%       0.500000
75%       1.000000
max       1.000000

In [9]:
df['label'].value_counts()

label
0    800
1    800
Name: count, dtype: int64